body{
    background: #e9eaed;
    
}
/*
.main{
    background: #e9eaed;
    width: 100%;
    float: left;
}
*/
.content,
.sidebar{
    box-sizing: border-box;
}
.content{
   
    background:#FFF;
	padding: 0.3em 0.5em;
	
}

.content-banner{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 0.5em;
}
.content-listhotgame{
	background:#FF0;
    width: 100%;         
    float: left;
}
.content-newgame{
    width: 100%;
    float: left;
	background:#FF0;
    margin-bottom: 0.5em;
	
	
}
.content-newgame-item{
    width: 30%;
	height:auto;
    margin-left: 0.35em;
	
}
.sidebar{
    background:#FCC;
	padding: 0.3em 1em;
    width: 100%;
    margin-bottom: 0.1em
	float:left;
}

@media screen and (min-width:600px) {
    .main:before, .main:after {
        content: "";
        display: table;
        clear: both;
    }
    .main {
        max-width: 100%;
    }
    .content{
        width: 63.5%;
        float: left;
        margin-right: 1.5%;
    }
    .sidebar{
        width: 35%;
        float: left;
    }
}

@media screen and (min-width:900px) {
    .container{
        max-width: 1040px;
        margin: 0 auto;
    }
}