@charset "utf-8";
/* CSS Document */
body
{
	bgcolor="#e9eaed"
	}


@media all and (min-width: 320px) {
body {
	background-color:#03C;
}


#inside{
width:1240px;
height:auto;
float:left;
}
#content{
width:1040px;
height:500px;
float:left;

padding:0px;
background-color:#FF6;

}
#sidebar{
width:140px;
height:1000px;
float:left;
background-color:#993;
height:200px;
}

#content-left{
max-width:740px;
height:1000px;
overflow:hidden;
float:left;
background-color:#096;
margin-right:10px;
}
#content-right{
width:290px;
height:1000px;
overflow:hidden;
float:left;
background-color:#0CC;

}
#menu-title{
	width: 268px;
	height: 30px;
	border: thin solid #999;
	text-align: left;
	vertical-align: middle;
	position: absolute;
	background-color: #FFF;
	padding-top: 10px;
	padding-left: 10px;	
}
#menu-items{
	width: 268px;
	height: 200px;
	border: thin solid #999;
	background-color:#FFF;	
	padding-top: 10px;
	padding-left: 10px;	
}
}

