body{
    background: #e9eaed;
    font-family: Verdana, Geneva, sans-serif;
   
}
.container{
    padding-top: 45px;
}

/*
.main{
   background: #e9eaed;
    width: 100%;
    float: left;
}
*/
.content,
.sidebar{
    box-sizing: border-box;
}
.content{
    width: 100%;
    height: auto;
    background:#FFF;
	padding: 0.3em 0.5em;
    float: left;
	margin-top: auto;
}

.content-banner{
    width: 100%;
    height: auto;
   
    /*padding-bottom: 0.5em;*/
}
.content-listhotgame{
	background:#FF0;
    
    width: 100%;         
    float: left;
    margin-bottom: 0.3em;
}
.content-newgame{
    width: 100%;
    float: left;
    margin-bottom: 0.5em;
	padding-left:0.3em;
	
}
.content-newgame-item{
	width: 30%;
	height: auto;
	float: left;
	
	margin-bottom: 0.3em;
    margin-left: 0.4em;
}
.content-newgame-item-title{
	font-size: 14px;
    color:cornflowerblue;
    padding-left: 0.3em;

}
.content-newgame-picture{
	width: 100%;
	height: auto;

}
.sidebar{
    background:#FCC;
	padding: 0.3em 1em;
    width: 100%;
    margin-bottom: 0.1em;
	float:left;
}

.content-gamecate{
	width: 100%;
    float: left;
	margin-bottom: 1.5em;
	border: thin solid #999;
	padding-bottom: 0.3em;
    
}
.content-gamecate-title{
	width: auto;
	height: auto;
	border-bottom: thin solid #999;
	padding: 0.3em;
	margin-bottom: 0.3em;
	
	color:cornflowerblue;	
    background: #ccc;
}
.content-gamecate-item{
    width: 30%;         
    height:auto;
    float: left;
    /*margin-left: 0.35em;*/
    padding-left: 0.3em;
}
.content-gamecate-picture{
	width: 100%;
	height: auto;

}
.content-gamecate-item-title{
	font-size: 14px;
    color:cornflowerblue;
    padding-left: 0.3em;

}

.color-blue{

}
@media screen and (min-width:600px) {
    .main:before, .main:after {
        content: "";
        display: table;
        clear: both;
    }
    .main {
        max-width: 100%;
    }
    .content{
        width: 63.5%;
        float: left;
        margin-right: 1.5%;
    }
    .sidebar{
        width: 35%;
        float: left;
    }
}

@media screen and (min-width:900px) {
    .container{
        max-width: 1040px;
        margin: 0 auto;
    }
}